:root {
    --white: #FFFFFF;
    --primary-color: #7D06EE;
    --black: #000000;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    scroll-behavior: smooth;
    background-color: #000000;
    color: #FFFFFF;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding: 0 16px;
}

.row {
    margin-left: -16px;
    margin-right: -16px;
}

.row>* {
    padding-left: 16px;
    padding-right: 16px;
}


.head-h1 {
    font-size: 36px;
    line-height: 46px;
}

.head-h2 {
    font-size: 32px;
    line-height: 42px;
}

.head-h3 {
    font-size: 28px;
    line-height: 38px;
}

.head-h4 {
    font-size: 18px;
    line-height: 28px;
}

.head-h5 {
    font-size: 16px;
    line-height: 26px;
}

.head-h6 {
    font-size: 16px;
    line-height: 26px;
}

.paragraph-text {
    font-size: 16px;
    line-height: 26px;
}

.paragraph-text-sm {
    font-size: 14px;
    line-height: 24px;
}

.z-index-0 {
    z-index: 0;
}

.z-index-1 {
    z-index: 1;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.purple-color {
    color: var(--primary-color);
}

.purple-bg {
    background-color: var(--primary-color);
}


@media (min-width: 768px) {
    .head-h1 {
        font-size: 42px;
        line-height: 52px;
    }

    .head-h2 {
        font-size: 36px;
        line-height: 46px;
    }

    .head-h3 {
        font-size: 32px;
        line-height: 42px;
    }

    .head-h4 {
        font-size: 20px;
        line-height: 30px;
    }

    .head-h5 {
        font-size: 18px;
        line-height: 28px;
    }
}

@media (min-width: 992px) {
    .head-h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .head-h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .head-h3 {
        font-size: 36px;
        line-height: 46px;
    }
}